.skills-content{
    margin: 64px 0px;
}

.skills-content h2{
    margin-bottom: 12px;
}

.items-content{
    max-width: 500px;
}

.skills-list{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 24px;
}

.skill-item{
    border: 1px solid #484848;
    border-radius: 100px;
    width: fit-content;
    padding: 16px 24px;
}

.skill-item span{
    color: #FFFFFF;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

@media only screen and (min-width: 992px){
    .skills-content{
        display: flex;
        justify-content: space-between;
    }

    .skills-list{
        gap: 16px;
        margin-top: 32px;
    }

    .skill-item{
        padding: 18px 36px;
    }

    .skill-item span{
        font-size: 16px;
    }

}

@media only screen and (min-width: 1200px){
    .items-content{
        max-width: 600px;
    }
}