.container-projects{
    width: 100%;
    padding: 0 15px;
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 100px;
    width: 100%;

}

.form label{
    color: #C7C7C7;
    margin: 24px 0 10px 3px;
    font-size: 16px;
    font-family: "Manrope", sans-serif;
}

.form input{
    background-color: #1A1A1A;
    border: none;
    height: 46px;
    padding: 10px 20px;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 5px;
}

.form input:focus {
    outline: none;
    border: 2px solid white;
    background-color: #0e0e0e;
}

.form textarea:focus {
    outline: none;
    border: 2px solid white;
    background-color: #0e0e0e;
}

.form textarea{
    background-color: #1A1A1A;
    border: none;
    height: 140px;
    padding: 10px 20px;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 5px;
}

.form button{
    margin-top: 40px;
    background-color: #D3E97A;
    font-family: "Manrope", sans-serif;
    text-transform: uppercase;
    width: 140px;
    height: 54px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    font-weight: bolder;
    font-size: 16px;

}

.form button:hover {
    transform: scale(1.1); 
}

.border{
    border-bottom: 1px solid #D3E97A;
    color: #FFFFFF;
    text-decoration: none;
    
}

.btn-contact{
    background-color: black !important;
    margin-right: 10px;
}

@media only screen and (min-width: 700px){
    .container-projects{
        padding: 0px 30px;
    }
}



@media only screen and (min-width: 992px){
    .container-projects{
      display: flex;
      justify-content: space-between;
      padding: 0px 60px;
      gap: 20px;
    }
    


    .form{
        margin-top: 0px;
        max-width: 400px;
    }

    

    .form label{
        font-size: 18px;
    }
    .form input{
        height: 51px;
    }

    .form textarea{
        font-size: 18px;
        height: 150px;
    }
    .projects-infos{
        margin-top: 24px;
    }
    
    .container-btn{
        gap: 20px;
    }

    .btn-contact svg{
        width: 40px;
        height: 40px;
    }
  }


  @media only screen and (min-width: 1200px){

    .form{
        max-width: 600px;
    }

    .container-projects{
        padding: 0px 80px;
    }

}